
workflow:
  name: 'Harvest: $PROJECT'

include:
  - local: "/CI/.cordis.yaml"
  - local: "/CI/.bonares.yaml"
  - local: "/CI/.eea-csw.yaml"
  - local: "/CI/.ejpsoil.yaml"  
  - local: "/CI/.esdac.yaml"
  - local: "/CI/.fao-csw.yaml"
  - local: "/CI/.ejpsoil.yaml"
  - local: "/CI/.it-er.yaml"
  - local: "/CI/.impact4soil.yaml"
  - local: "/CI/.inspire.yaml"
  - local: "/CI/.iso-triplify.yaml"
  - local: "/CI/.isric.yaml"
  - local: "/CI/.islandr.yaml"
  - local: "/CI/.ngr-filtered.yaml"
  - local: "/CI/.he-projects-openaire.yaml"
  - local: "/CI/.openaire.yaml"
  - local: "/CI/.prepsoil.yaml"
  - local: "/CI/.record-to-pycsw.yaml"
  - local: "/CI/.translation.yaml"
  - local: "/CI/.newsfeeds.yaml"
  - local: "/CI/.data.europa.eu.yaml"